body {
   background-color: #eff1ed;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: unset;
}
main {
   background-color: #9fa4a9;
   height: 500px;
   width: 1400px;
   align-items: center;
   justify-content: center;
}

.titel {
   font-family: sans-serif;
   background-color: black;
   height: 100px;
   width: 100%;
   color: white;
   padding-top: 2%;
   padding-left: 10%;
   text-shadow: #709775 3px 3px;
}

.container {
   display: inline-block;
   vertical-align: center;
   width: 1200px;
   height: 400px;
   background-color: #9fa4a9;
   padding-top: 10%;
   float: left;
   margin-left: 10%;
}

.ui {
   margin-left: 5%;
   float: left;
   display: flex;
   background-color: #afbfc0;
   height: 275px;
   width: 300px;
   bottom: 10%;
   position: relative;
   border: #709775 solid 2px;
   box-shadow: black 2px 2px;
}

.ui_text {
   text-shadow: #9fa4a9 2px 2px;
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   left: 10%;
}

#bank_ui {
   border-radius: 10% 0 0 10%;
}

#pc_ui {
   border-radius: 0 10% 10% 0;
}

.button_fix {
   position: relative;
   background-color: #f1f0ea;
   border-radius: 10%;
   height: 50px;
   width: 100px;
   cursor: pointer;
}

.button_fix:hover {
   border: 1px solid black;
   color: black;
   background-color: #fff;
}

#bank_button {
   position: absolute;
   left: 10%;
   top: 60%;
}

#work_button {
   position: absolute;
   left: 55%;
   top: 60%;
}

#loan_button {
   position: absolute;
   width: 50%;
   left: 25%;
   top: 60%;
}

#repay_button {
   display: none;
   position: absolute;
   left: 55%;
   top: 40%;
}

#buy_button {
   background-color: #709775;
   width: 200px;
   height: 75px;
   font-size: 24px;
   position: relative;
   bottom: 160%;
   left: 75%;
}
#buy_button:hover {
   border: 1px solid #709775;
   color: 709775;
   background-color: #fff;
}

.pc_info {
   margin-left: 10%;
   background-color: #afbfc0;
   position: relative;
   width: 1200px;
   height: 300px;
   bottom: -500px;
}

#pc_price {
   position: relative;
   left: 75%;
   bottom: 160%;
   font-size: 36px;
}

#pc_selection {
   width: 200px;
   height: 35px;
   position: absolute;
   left: 10%;
   top: 25%;
   border-radius: 5%;
}

#pc_specs {
   text-align: left;
   padding-left: 5px;
   padding-top: 5px;
   border-radius: 5%;
   float: left;
   position: absolute;
   top: 35%;
   left: 10%;
   width: 80%;
   height: 40%;
   font-size: 16px;
   list-style-type: none;
   font-weight: bold;
}

#pc_specs li {
   font-size: 14px;
   font-weight: normal;
}

#money {
   font-size: 16px;
   position: absolute;
   text-align: right;
   width: 50%;
   top: 20%;
   left: 40%;
}

#balance {
   font-size: 16px;
   position: absolute;
   width: 50%;
   top: 20%;
   left: 10%;
}

#outstanding {
   display: none;
   font-size: 16px;
   position: absolute;
   top: 35%;
   left: 10%;
}

#outstanding_loan {
   display: none;
   font-size: 16px;
   position: absolute;
   text-align: right;
   width: 40%;
   left: 50%;
   top: 35%;
}

#moneyFromWork {
   font-size: 16px;
   position: absolute;
   left: 10%;
   top: 20%;
}

#workMoney {
   font-size: 16px;
   position: absolute;
   text-align: right;
   width: 60%;
   left: 30%;
   top: 20%;
}

#pc_name {
   position: absolute;
   top: 25px;
   left: 350px;
}

#pc_feature {
   font-size: 18px;
   position: absolute;
   width: 45%;
   top: 125px;
   left: 350px;
}

#pc_pic {
   width: 200px;
   height: 200px;
   position: absolute;
   left: 50px;
   top: 50px;
}
